In [1]:
import pandas as pd
import numpy as np

### Đọc dữ liệu

In [2]:
raw_df = pd.read_csv('./Data/DSPhongTro.csv', sep='\t')

In [3]:
#Test
raw_df

,ID,Địa chỉ,Diện tích,Số phòng ngủ,Số toilet,Nội thất,Mức giá,Link,Ngày đăng tin
0,39738459.0,"1155/51/20, Đường Tỉnh lộ 43, Phường Bình Chiể...",40.0,NaN,NaN,Không,2.8,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,21/10/2024
1,40588265.0,"Đường 3/2, Phường 11, Quận 10, Hồ Chí Minh",20.0,NaN,NaN,Không,4.0,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,18/10/2024
2,41251164.0,"Số 5/1, Đường Tống Văn Hên, Phường 15, Tân Bìn...",25.0,NaN,NaN,Không,4.5,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,18/10/2024
3,41278673.0,"Đường Cù Chính Lan, Phường 13, Tân Bình, Hồ Ch...",20.0,1.0,1.0,Đầy đủ.,4.0,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,22/10/2024
4,41290558.0,"Đường Ngô Bệ, Phường 13, Tân Bình, Hồ Chí Minh",60.0,2.0,2.0,Không,10.0,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,23/10/2024
...,...,...,...,...,...,...,...,...,...
8271,41183873.0,"210/18/3, Đường Cách Mạng Tháng Tám, Phường 10...",20.0,NaN,NaN,Không,4.0,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,11/10/2024
8272,41065843.0,"74/49/22, Đường Phan Văn Hớn, Phường Tân Thới ...",14.0,1.0,1.0,Không,1.8,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,11/10/2024
8273,40801498.0,"11, Đường Bàu Bàng, Phường 13, Tân Bình, Hồ Ch...",25.0,1.0,NaN,Không,3.5,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,11/10/2024
8274,41184033.0,"Đường Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí ...",35.0,1.0,1.0,Đầy đủ,6.5,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,11/10/2024
8275,41183931.0,"Đường Quang Trung, Phường 11, Gò Vấp, Hồ Chí Minh",15.0,1.0,1.0,Cơ bản.,3.0,https://batdongsan.com.vn/cho-thue-nha-tro-pho...,11/10/2024

### Xử lí dòng bị thiếu dữ liệu

In [4]:
raw_df.isna().sum()

ID                  2
Địa chỉ             2
Diện tích           2
Số phòng ngủ     2560
Số toilet        2337
Nội thất            0
Mức giá             9
Link                0
Ngày đăng tin       2
dtype: int64

In [5]:
raw_df = raw_df.dropna(subset=['ID', 'Mức giá']) #Bỏ những dòng ko có ID và mức giá

In [6]:
#Test
raw_df.isna().sum()

ID                  0
Địa chỉ             0
Diện tích           0
Số phòng ngủ     2551
Số toilet        2328
Nội thất            0
Mức giá             0
Link                0
Ngày đăng tin       0
dtype: int64

In [7]:
#Điền missing value của cột 'Số phòng ngủ', 'Số toilet' = 1.0 vì mỗi phòng trọ đều có tối thiểu 1 phòng ngủ, 1 toilet
raw_df = raw_df.fillna(1.0)

In [8]:
#Test
raw_df.isna().sum()

ID               0
Địa chỉ          0
Diện tích        0
Số phòng ngủ     0
Số toilet        0
Nội thất         0
Mức giá          0
Link             0
Ngày đăng tin    0
dtype: int64

### Loại bỏ các dòng có giá trị bất thường

In [9]:
raw_df.dtypes

ID               float64
Địa chỉ           object
Diện tích        float64
Số phòng ngủ     float64
Số toilet        float64
Nội thất          object
Mức giá           object
Link              object
Ngày đăng tin     object
dtype: object

In [10]:
raw_df['Mức giá'].unique()

array(['2.8', '4.0', '4.5', '10.0', '7.3', '4.1', '3.5', '4.8', '4.3',
       '5.3', '3.4', '7.7', '3.1', '3.2', '3.6', '3.7', '6.0', '3.8',
       '8.5', '5.0', '6.5', '4.4', '7.6', '2.5', '3.0', '3.9', '4.9',
       '5.8', '5.4', '5.9', '4.7', '3.3', '1.5', '7.0', '2.7', '1.2',
       '5.6', 'Thỏa thuận', '5.2', '9.5', '1.4', '6.4', '3.45', '11.0',
       '5.5', '1.9', '8.0', '4.2', '6.6', '4.6', '2.2', '2.1', '7.2',
       '6.2', '2.0', '1.7', '7.5', '9.0', '6.8', '2.9', '1.45', '2.6',
       '1.19', '1.09', '5.7', '5.1', '1.6', '1.35', '8.9', '6.7', '2.3',
       '2.4', '4.75', '6.9', '11.5', '8.8', '13.0', '1.3', '5.55', '6.3',
       '1.0', '3.95', '1.8', '7.8', '9.9', '1.65', '8.7', '8.3', '8.2',
       '7.4', '2.99', '13.5', '6.1', '16.0', '9.2', '1.1', '12.0', '7.9',
       '9.8', '500.0', '1.85', '1.95', '3.99', '3.69', '10.5', '15.0',
       '4.95', '9.3', '1.32', '14.0', '9.4', '10.9', '11.3', '8.4',
       '12.5', '1.39', '4.45', '1.75', '2.45', '8.6', '3.55', '3.78',
       '28.0', '170.0', '330.0', '4.99', '8.49', '650.0', '4.19', '12.2'],
      dtype=object)

In [11]:
raw_df = raw_df[raw_df['Mức giá'] != 'Thỏa thuận'] #bỏ những dòng nào có giá là 'thỏa thuận'

In [12]:
#Test
raw_df['Mức giá'].unique()

array(['2.8', '4.0', '4.5', '10.0', '7.3', '4.1', '3.5', '4.8', '4.3',
       '5.3', '3.4', '7.7', '3.1', '3.2', '3.6', '3.7', '6.0', '3.8',
       '8.5', '5.0', '6.5', '4.4', '7.6', '2.5', '3.0', '3.9', '4.9',
       '5.8', '5.4', '5.9', '4.7', '3.3', '1.5', '7.0', '2.7', '1.2',
       '5.6', '5.2', '9.5', '1.4', '6.4', '3.45', '11.0', '5.5', '1.9',
       '8.0', '4.2', '6.6', '4.6', '2.2', '2.1', '7.2', '6.2', '2.0',
       '1.7', '7.5', '9.0', '6.8', '2.9', '1.45', '2.6', '1.19', '1.09',
       '5.7', '5.1', '1.6', '1.35', '8.9', '6.7', '2.3', '2.4', '4.75',
       '6.9', '11.5', '8.8', '13.0', '1.3', '5.55', '6.3', '1.0', '3.95',
       '1.8', '7.8', '9.9', '1.65', '8.7', '8.3', '8.2', '7.4', '2.99',
       '13.5', '6.1', '16.0', '9.2', '1.1', '12.0', '7.9', '9.8', '500.0',
       '1.85', '1.95', '3.99', '3.69', '10.5', '15.0', '4.95', '9.3',
       '1.32', '14.0', '9.4', '10.9', '11.3', '8.4', '12.5', '1.39',
       '4.45', '1.75', '2.45', '8.6', '3.55', '3.78', '28.0', '170.0',
       '330.0', '4.99', '8.49', '650.0', '4.19', '12.2'], dtype=object)

### Chuẩn hóa cột địa chỉ và nội thất

In [13]:
raw_df[['Địa chỉ', 'Nội thất']]

                                                Địa chỉ Nội thất
0     1155/51/20, Đường Tỉnh lộ 43, Phường Bình Chiể...    Không
1            Đường 3/2, Phường 11, Quận 10, Hồ Chí Minh    Không
2     Số 5/1, Đường Tống Văn Hên, Phường 15, Tân Bìn...    Không
3     Đường Cù Chính Lan, Phường 13, Tân Bình, Hồ Ch...  Đầy đủ.
4        Đường Ngô Bệ, Phường 13, Tân Bình, Hồ Chí Minh    Không
...                                                 ...      ...
8271  210/18/3, Đường Cách Mạng Tháng Tám, Phường 10...    Không
8272  74/49/22, Đường Phan Văn Hớn, Phường Tân Thới ...    Không
8273  11, Đường Bàu Bàng, Phường 13, Tân Bình, Hồ Ch...    Không
8274  Đường Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí ...   Đầy đủ
8275  Đường Quang Trung, Phường 11, Gò Vấp, Hồ Chí Minh  Cơ bản.

[8230 rows x 2 columns]

In [14]:
#chuyển địa chỉ thành số
def district_to_number(address, districts):
    for district, value in districts.items():
        if district in address:
            return value
    return 0

districts = pd.read_csv('./Data/address.txt', sep=':', header=None)
districts = districts.set_index(0)[1].to_dict()

raw_df['Địa chỉ'] = raw_df['Địa chỉ'].apply(lambda x: district_to_number(x, districts))

In [15]:
#chuyển nội thất thành số
def furniture_to_number(furniture, dict_furniture):
    for fur, value in dict_furniture.items():
        if fur.lower() in furniture.lower():
            return value
    return 2

dict_furniture = pd.read_csv('./Data/furniture.txt', sep=':', header=None).set_index(0)[1].to_dict()

raw_df['Nội thất'] = raw_df['Nội thất'].apply(lambda x: furniture_to_number(x, dict_furniture))

In [16]:
#Test
raw_df[['Địa chỉ', 'Nội thất']]

      Địa chỉ  Nội thất
0          17         0
1           1         0
2          14         0
3          14         2
4          14         0
...       ...       ...
8271        3         0
8272        1         0
8273       14         0
8274        1         2
8275        9         1

[8230 rows x 2 columns]

### Chỉnh sửa kiểu dữ liệu cho từng cột

In [17]:
raw_df.dtypes

ID               float64
Địa chỉ            int64
Diện tích        float64
Số phòng ngủ     float64
Số toilet        float64
Nội thất           int64
Mức giá           object
Link              object
Ngày đăng tin     object
dtype: object

In [18]:
raw_df['ID'] = raw_df['ID'].astype('category')
raw_df['Mức giá'] = raw_df['Mức giá'].astype(np.float64)
raw_df['Ngày đăng tin'] = pd.to_datetime(raw_df['Ngày đăng tin'], format='%d/%m/%Y')
raw_df['Địa chỉ'] = raw_df['Địa chỉ'].astype('category')
raw_df['Nội thất'] = raw_df['Nội thất'].astype('category')

In [19]:
#Test
raw_df.dtypes

ID                     category
Địa chỉ                category
Diện tích               float64
Số phòng ngủ            float64
Số toilet               float64
Nội thất               category
Mức giá                 float64
Link                     object
Ngày đăng tin    datetime64[ns]
dtype: object

### Lưu dữ liệu đã xử lí

In [20]:
#Lưu dữ liệu đã xử lý vào file csv
raw_df.to_csv('./Data/DSPhongTro_DaXuLy.csv', encoding='utf-8-sig', header=True, sep='\t')